__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/

.git/
.gitignore

.pytest_cache/
.coverage
htmlcov/
tests/
*.log

input/
output/
logs/
trained_models/*.pt
trained_models/*.pth
trained_models/**/*.pt
trained_models/**/*.pth
